BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "aSegments[6]" SITE "20" ;
LOCATE COMP "aSegments[5]" SITE "17" ;
LOCATE COMP "aSegments[4]" SITE "14" ;
LOCATE COMP "aSegments[3]" SITE "16" ;
LOCATE COMP "aSegments[2]" SITE "11" ;
LOCATE COMP "aSegments[1]" SITE "23" ;
LOCATE COMP "aSegments[0]" SITE "25" ;
IOBUF PORT "aSegments[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "aSegments[6]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "aButtons[0]" SITE "10" ;
LOCATE COMP "aButtons[1]" SITE "9" ;
LOCATE COMP "aButtons[2]" SITE "26" ;
#LOCATE COMP "aButtons[3]" SITE "27" ;
#IOBUF PORT "aButtons[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "aButtons[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "aButtons[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "aButtons[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "aLed" SITE "4" ;
IOBUF PORT "aLed" IO_TYPE=LVCMOS33 ;
